.App {
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .cog {
    animation: cog-spin infinite 10s linear;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .cog-backwards {
    animation: cog-spin-backwards infinite 10s linear;
  }
}

@keyframes cog-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cog-spin-backwards {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
