.App {
  text-align: center;
}

/* @media (prefers-reduced-motion: no-preference) {
  .cog {
    animation: cog-spin infinite 10s linear;
  }
} */

@media (prefers-reduced-motion: no-preference) {
  .cog {
    animation: cog-spin infinite linear;
    animation-duration: 20s;
    animation-composition: accumulate;
    animation-fill-mode: forwards;
  }

  .cog-backwards {
    animation: cog-spin-backwards infinite linear;
    animation-duration: 20s;
    animation-composition: accumulate;
    animation-fill-mode: forwards;
  }

  .fast {
    animation-duration: 5s !important;
    animation-composition: accumulate;
    animation-fill-mode: forwards;
  }
}


@keyframes cog-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes cog-spin-backwards {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}


